@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0px;
    background-color: black !important;
}

.navbar .container
{
    font-family: Raleway;
    margin: 0 auto;
    margin-bottom: 2px !important;
	padding: 1.8em 3em;
	text-align: center;
}

.navbar .container a
{
    color: #FFF;
    text-decoration: none;
    font: 15px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.teal
{
    background: #000000;
}

/* Border from Y to X  */
.navbar .borderYtoX a:before,.navbar .borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background:#00eeff;
    transition: all 0.3s;
}

.navbar .borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

.navbar .borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

.navbar .borderYtoX a:hover:before, .navbar .borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

.parallax-intro {
    padding-top: 200px;
    background: transparent;
    height:650px;
}

.parallax-intro .page-intro-content .introduction {
    z-index: 2;
    font-size: 60px;
    position: relative;
    text-align: center;
    font-weight: bold;
    vertical-align: text-top;
    color:#fff;

}
/* ABOUT ME SECTION */

#about{
    padding-top: 98px;
    padding-bottom: 101px;
}
#about .triangle-right{
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 470px solid #d6c6b2;
    border-bottom: 259px solid transparent;
}
#about .triangle-right img{
    position: absolute;
    left: -1px;
    top: 81px;
    width: 74%;
}
.fa-play{
    font-size: 100px;
}
#about .p-first{
    margin-bottom: 30px;
}
#about h2{
    margin-bottom: 47px;
    margin-top: 12px;
}
#about .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;			
}
#about .about-link{
    padding-left: 0px;
    padding-top: 40px;
}
#about .about-link li{
    display: inline-block;
}
#about .about-link li a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid #00ffd5;
    margin-right: 10px;
    font-size: 22px;
    color: #00ffd5;
    transition: all .3s;
}
#about .about-link li a i:hover{
    color: #222222;
    background: #00ffd5;
    border-color: #00ffd5;
}
#about .about-img{
    position: relative;
    
}
#about .about-img{
    position: relative;
}

#about .about-img .man{
    position: absolute;
    bottom: 161px;
    top: 12px;
    left: -2px;
}
.color-3{
    color: white;
}
.text-white{
    color: white;
}
.about-right{
    padding-top:40px;
    
}
.about-right p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.btn-success{
    border-radius: 0;
    padding: 10px 20px;
}
.about_me{
  padding-bottom: 40px;
}

/* Article SECTION */



.article-content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.article {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {

.article {
    height: 20rem
}
  }

.article::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
      z-index: 0;
    }

.article__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
/*     background: rgba(255,0,0,.5); */
  }

.article__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
  }

.article__text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
/*     background-color: rgba(0, 0, 0, 0.4); */
    transition: background-color 1.5s ease;
  }

.article__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
  }

.article__post-date {
    font-size: .7rem;
    margin-bottom: .5rem;
    color: #CCC;
  }

.article__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
  }

@media (min-width: 900px) {
    .article:hover .article__details-wrapper {
      max-height: 20rem;
      opacity: 1;
    }
    .article:hover .article__text-wrapper {
      background-color: rgba(0, 0, 0, 0.6);
    }
    .article:hover .article__title {
      color: yellow;
    }
    .article:hover .article__image {
      transform: scale(1.2);
      z-index: -1;
    }
  }

.article__excerpt {
    font-weight: 300;
  }

.article__read-more {
    background: black;
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
  }

.article__read-more i {
      position: relative;
      left: 0.2rem;
      color: #888;
      transition: left 0.5s ease, color 0.6s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

.article__read-more:hover i {
      left: 0.5rem;
      color: yellow;
    }

