@import 'https://fonts.googleapis.com/css?family=Raleway';

html,body
{
    margin: 0px;
    background-color: black !important;
}

.navbar .container
{
    font-family: Raleway;
    margin: 0 auto;
    margin-bottom: 2px !important;
  padding: 1.8em 3em;
  text-align: center;
}

.navbar .container a
{
    color: #FFF;
    text-decoration: none;
    font: 15px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.teal
{
    background: #000000;
}

/* Border from Y to X  */
.navbar .borderYtoX a:before,.navbar .borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background:#00eeff;
    transition: all 0.3s;
}

.navbar .borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

.navbar .borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

.navbar .borderYtoX a:hover:before, .navbar .borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

/* ABOUT ME SECTION */

#about{
    padding-top: 98px;
    padding-bottom: 101px;
    padding-left: 100px;
}
#about .triangle-right{
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 470px solid #d6c6b2;
    border-bottom: 259px solid transparent;
}
#about .triangle-right img{
    position: absolute;
    left: -1px;
    top: 81px;
    width: 74%;
}
.fa-play{
    font-size: 100px;
}
#about .p-first{
    margin-bottom: 30px;
}
#about h2{
    margin-bottom: 47px;
    margin-top: 12px;
}
#about .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;      
}
#about .about-link{
    padding-left: 0px;
    
}
#about .about-link li{
    display: inline-block;
    color:white;
    padding-right:8px;
    font-size:16px;
}
#about .about-link li a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid #00ffd5;
    margin-right: 5px;
    font-size: 22px;
    color: #00ffd5;
    transition: all .3s;
}
#about .about-link li a i:hover{
    color: #222222;
    background: #00ffd5;
    border-color: #00ffd5;
}
#about .about-img{
  margin-top:-36px;
  position: relative;
    
}
#about .about-img{
    position: relative;
}

#about .about-img .man{
    position: absolute;
    bottom: 161px;
    
    left: -2px;
}
.color-3{
    color: white;
}
.text-white{
    color: white;
}
.about-right{
    padding-top:40px;
    
}
.about-right p{
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.about-right h2{
  font-size:40px;
  border-bottom: 1px solid white;
}
.btn-success{
    border-radius: 0;
    padding: 10px 20px;
}
.about_me {
  padding-bottom: 40px;
  
}