/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}
body a {
  text-decoration: none;
  color: #172b4d;
}
body h1 {
  font-family: "Song Myung", serif;
}
.navbar .container
{
    font-family: Raleway;
    margin: 0 auto;
    margin-bottom: 2px !important;
  padding: 1.8em 3em;
  text-align: center;
}

.navbar .container a
{
    color: #FFF;
    text-decoration: none;
    font: 15px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.teal
{
    background: #000000;
}

/* Border from Y to X  */
.navbar .borderYtoX a:before,.navbar .borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background:#00eeff;
    transition: all 0.3s;
}

.navbar .borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

.navbar .borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

.navbar .borderYtoX a:hover:before, .navbar .borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}
/* DEFAULT STYLE */
:root {
  font-size: 16px;
  --card-img-height: 200px;
}

.card-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card {
  align-self: flex-start;
  position: relative;
  width: 325px;
  min-width: 275px;
  margin: 1.25rem 0.75rem;
  background: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.card .card-img {
  visibility: hidden;
  width: 100%;
  height: var(--card-img-height);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.card .card-img-hovered {
  --card-img-hovered-overlay: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: absolute;
  height: var(--card-img-height);
  top: 0;
}
.card .card-info {
  position: relative;
  padding: 0.75rem 1.25rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.card .card-info .card-about {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 0.75rem 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.card .card-info .card-about .card-tag {
  width: 60px;
  max-width: 100px;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #505f79;
  color: #fff;
}
.card .card-info .card-about .card-tag.tag-news {
  background: #36b37e;
}
.card .card-info .card-about .card-tag.tag-deals {
  background: #ffab00;
}
.card .card-info .card-about .card-tag.tag-politics {
  width: 71px;
  background: #ff5630;
}
.card .card-info .card-title {
  z-index: 10;
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.card .card-info .card-creator {
  
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border-style: initial;
  border-width: 5px 20px;
  background-color:greenyellow;
  
  
  text-align: center;
}


.card:hover .card-creator a{
  color:black;

  
}
.card:hover .card-img-hovered {
  opacity: 0.75;
  
}


.card-1 .card-img,
.card-1 .card-img-hovered {
  background-image: url(../images/Certificates/7.png);
}

.card-2 .card-img,
.card-2 .card-img-hovered {
  background-image: url(../images/Certificates/4.png);
}

.card-3 .card-img,
.card-3 .card-img-hovered {
  background-image: url(../images/Certificates/10.png);
}

.card-4 .card-img,
.card-4 .card-img-hovered {
  background-image: url(../images/Certificates/13.png);
}

.card-5 .card-img,
.card-5 .card-img-hovered {
  background-image: url(../images/Certificates/11.png);
}

.card-6 .card-img,
.card-6 .card-img-hovered {
  background-image: url(../images/Certificates/9.png);
}

.card-7 .card-img,
.card-7 .card-img-hovered {
  background-image: url(../images/Certificates/1.png);
}

.card-8 .card-img,
.card-8 .card-img-hovered {
  background-image: url(../images/Certificates/2.png);
}

.card-9 .card-img,
.card-9 .card-img-hovered {
  background-image: url(../images/Certificates/3.png);
}

.card-10 .card-img,
.card-10 .card-img-hovered {
  background-image: url(../images/Certificates/5.png);
}

.card-11 .card-img,
.card-11 .card-img-hovered {
  background-image: url(../images/Certificates/6.png);
}

.card-12 .card-img,
.card-12 .card-img-hovered {
  background-image: url(../images/Certificates/8.png);
} 

.card-13 .card-img,
.card-13 .card-img-hovered {
  background-image: url(../images/Certificates/12.png);
}

