html,body
{
    margin: 0px;
    background-color: black !important;
}
#back2Top {
    width: 40px;
    
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color:  rgb(14, 220, 235);
    color:black;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 25px;
  }
  #back2Top:hover {
    background-color:whitesmoke;
    color: #000;
  }
.navbar .container
{
    font-family: Raleway;
    margin: 0 auto;
    margin-bottom: 2px !important;
  padding: 1.8em 3em;
  text-align: center;
}

.navbar .container a
{
    color: #FFF;
    text-decoration: none;
    font: 15px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.teal
{
    background: #000000;
}

/* Border from Y to X  */
.navbar .borderYtoX a:before,.navbar .borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background:#00eeff;
    transition: all 0.3s;
}

.navbar .borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

.navbar .borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

.navbar .borderYtoX a:hover:before, .navbar .borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

/* NAVBAR END */

.centerit{
    text-align:center;
}
.resume{
    display: block;
    margin:15px 0px;

  }
  
  .resume img{
    border-radius: 10px;
   
  }


.download_button{
    margin: 0;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.btn {
    background-color:rgb(18, 230, 219);
    color: black;
    padding: 15px 35px;
    cursor: pointer;
    font-size: 10px;
  }