html,body
{
    margin: 0px;
    background-color: black !important;
}

.navbar .container
{
    font-family: Raleway;
    margin: 0 auto;
    margin-bottom: 2px !important;
  padding: 1.8em 3em;
  text-align: center;
}

.navbar .container a
{
    color: #FFF;
    text-decoration: none;
    font: 15px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.teal
{
    background: #000000;
}

/* Border from Y to X  */
.navbar .borderYtoX a:before,.navbar .borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background:#00eeff;
    transition: all 0.3s;
}

.navbar .borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

.navbar .borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

.navbar .borderYtoX a:hover:before, .navbar .borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}


.resume{
    
    display: block;
    margin: 80px 490px;
    border-radius: 250px;
  }
  
  .resume img{
    border-radius: 30px;
   
  }
  .resume img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }


.download_button{
    margin: 0;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.btn {
    background-color:beige;
    color: black;
    padding: 15px 35px;
    cursor: pointer;
    font-size: 100px;
  }